<!-- BOARDS PAGE -->


{{!-- DISPLAYS THE USER ID FOR SOME REASON? --}}
<div id="user_id" data-user-id="{{user_id}}"></div>

{{!-- SECONDARY NAV BAR FOR WORKING ON PROJECT BOARDS --}}
{{>boards_nav}}

{{#each projects as |project|}}

    <div class="taskTitan_banner">
        <h2>{{project.name}}</h2>
    </div>

    {{!-- DISPLAYS IF YOU ARE IN ADMIN, WORKER, CLIENT VIEW  --}}
    <p class="flow-text center-align" id="PUTTHESHITHERE" data-project-id="{{project.id}}"></p>

    {{!-- PROGRESS BAR --}}
    <div class="container">
        <div id="modded" class="row">
            <div class="col s12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <div class="progress pink lighten-4">
                                <span>Progress<i class="material-icons">info_outline</i></span>
                                <div id="progress_stat" class="determinate pink" style="width: 50%; animation: grow 2s;">{{progress_data}}%</div>
                            </div>
                        </div>
                        <div class="collapsible-body">THE PROJECT IS GOING WELL!</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    {{!-- ADMIN AND WORKER VIEW ONLY --}}
    <section id="project_view" class="row">

        {{!-- TO DO COLUMN --}}
        <div class="col s12 m6 l3">
            <h4 class="center-align">To Do</h4>
            <div id="todo" >
                {{#each project.todo as |ticket|}}
                    <div data-id="{{ticket.id}}">
                            {{> ticket_card}}
                    </div>
                {{/each}}
                <div class="new_task" style="display: none" data-status="todo" data-id="{{project.id}}">
                    {{> new_ticket}}
                </div>
                <br>
            </div>
            <section class="section center-align worker_hide">
                <a class="waves-effect waves-light btn-large deep-purple add_task"  data-target="new_task" data-id="add_todo_task" data-status="todo">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>

        {{!-- DOING COLUMN --}}
        <div class="col s12 m6 l3">
            <h4 class="center-align">In Progress</h4>
            <div id="doing">
                {{#each project.doling as |ticket|}}
                    <div data-id="{{ticket.id}}">
                            {{> ticket_card}}
                    </div>
                {{/each}}
                <div class="new_task" style="display: none" data-status="doing"  data-id={{project.id}}>
                    {{> new_ticket}}
                </div>
                <br>
            </div>
             <section class="section center-align worker_hide">
                <a class="waves-effect waves-light btn-large deep-purple add_task" data-target="new_task" data-id="add_doing_task" data-status="doing">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>

        {{!-- REVIEW COLUMN --}}
        <div class="col s12 m6 l3">
            <h4 class="center-align">In Review</h4>
            <div id="review" >
                {{#each project.review as |ticket|}}
                    <div data-id="{{ticket.id}}">
                            {{> ticket_card}}
                    </div>
                {{/each}}
                <div class="new_task" style="display: none" data-status="review"  data-id={{project.id}}>
                    {{> new_ticket}}
                </div>
                <br>
            </div>
            <section class="section center-align worker_hide">
                <a class="waves-effect waves-light btn-large deep-purple add_task" data-target="new_task" data-id="add_review_task" data-status="review">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>

        {{!-- DONE COLUMN --}}
        <div class="col s12 m6 l3">
            <h4 class="center-align">Done</h4>
            <div id="done">
                {{#each project.done as |ticket|}}
                    <div data-id="{{ticket.id}}">
                            {{> ticket_card}}
                    </div>
                {{/each}}
                <div class="new_task" data-status="done" data-id={{project.id}}>
                    {{> new_ticket}}
                </div>
                <br>
            </div>
            <section class="section center-align worker_hide" style="display: block">
                    <a class="waves-effect waves-light btn-large deep-purple add_task" data-target="new_task" data-id="add_done_task" data-status="done">
                        <i class="material-icons left">add</i>
                        Add Task
                    </a>
            </section>
        </div>

    </section>

{{/each}}

