<!-- Boards Page -->
<div id="user_id" data-user-id="{{user_id}}"></div>

{{!-- SECONDARY NAV BAR FOR WORKING ON PROJECT BOARDS --}}
<nav>
    <div class="nav-wrapper container">
        <a href="#" data-target="my-board-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="#!">Add Client</a></li>
            <li><a href="#!">Add Worker</a></li>
            <li><a href="#!" id="myBtn" class="action-button">Select Project</a></li>
            <li><a href="#!" id="myBtn2" class="action-button">New Project</a></li>
            <li><a href="#!">Delete Project</a></li>
        </ul>
    </div>
</nav>
{{!-- THIS IS FOR SMALL DISPLAYS, SHOWS AS A SLIDE OUT SIDE BAR MENU --}}
<ul class="sidenav" id="my-board-nav">
    <li><a href="#!">Add Client</a></li>
    <li><a href="#!">Add Worker</a></li>
    <li><a href="#!" id="myBtn" class="action-button">Select Project</a></li>
    <li><a href="#!" id="myBtn2" class="action-button">New Project</a></li>
    <li><a href="#!">Delete Project</a></li>
</ul>

<!-- THIS IS THE MODAL FOR CREATING A NEW PROJECT AND SELECTING A CURRENT PROJECT -->
{{>new_project_modal}}
{{>project_select_modal}}


{{#each projects as |project|}}

    <h3 class="center-align">{{project.name}}</h3>
    <p class="center-align" id="PUTTHESHITHERE" style="color:black;" data-project-id="{{project.id}}"></p>

    <div class="row">

        {{!-- START TO DO COLUMN --}}
        <div id="todo" class="col s12 m6 l3">
            <h4 class="center-align">To Do</h4>
            {{#each project.todo as |ticket|}}
                <ul class="dragthing" style="list-style-type: none;" data-id="{{ticket.id}}">
                        <li>{{> ticket_card}}</li>
                </ul>
            {{/each}}
            <div class="new_task" style="display: none" data-status="todo" data-id="{{project.id}}">
                {{> new_ticket}}
            </div>
            <section class="section center-align">
                <a class="waves-effect waves-light btn-large deep-purple add_task"  data-target="new_task" data-id="add_todo_task" data-status="todo">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>
        
        {{!-- START DOING COLUMN --}}
        <div id="doing" class="col s12 m6 l3">
            <h4 class="center-align">In Progress</h4>
            {{#each project.doing as |ticket|}}
                <ul class="dragthing" style="list-style-type: none;" data-id="{{ticket.id}}">
                    <li>{{> ticket_card}}</li>
                </ul>
            {{/each}}
            <div class="new_task" style="display: none" data-status="doing"  data-id={{project.id}}>
                {{> new_ticket}}
            </div>
            <section class="section center-align">
                <a class="waves-effect waves-light btn-large deep-purple add_task" data-target="new_task" data-id="add_doing_task" data-status="doing">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>
        
        {{!-- START REVIEW COLUMN --}}
        <div id="review" class="col s12 m6 l3">
            <h4 class="center-align">In Review</h4>
            {{#each project.review as |ticket|}}
                <ul class="dragthing" style="list-style-type: none;" data-id="{{ticket.id}}">
                    <li>{{> ticket_card}}</li>
                </ul>
            {{/each}}
            <div class="new_task" style="display: none" data-status="review"  data-id={{project.id}}>
                {{> new_ticket}}
            </div>
            <section class="section center-align">
                <a class="waves-effect waves-light btn-large deep-purple add_task" data-target="new_task" data-id="add_review_task" data-status="review">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>
        
        {{!-- START DONE COLUMN --}}
        <div id="done" class="col s12 m6 l3">
            <h4 class="center-align">Done</h4>
            {{#each project.done as |ticket|}}
                <ul class="dragthing" style="list-style-type: none;" data-id="{{ticket.id}}">
                    <li>{{> ticket_card}}</li>
                </ul>
            {{/each}}
            <div class="new_task" style="display: none" data-status="done" data-id={{project.id}}>
                {{> new_ticket}}
            </div>
            <section class="section center-align">
                <a class="waves-effect waves-light btn-large deep-purple add_task" data-target="new_task" data-id="add_done_task" data-status="done">
                    <i class="material-icons left">add</i>
                    Add Task
                </a>
            </section>
        </div>

    </div>
{{/each}}

