{{!-- BOARDS NAVIGATION MENU --}}


<nav class="purple darken-4">
    <div class="nav-wrapper container">
        <a href="#" data-target="my-board-nav" class="sidenav-trigger"><i class="material-icons">view_module</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a class="modal-trigger" href="#addCollaboratorModal"><i class="material-icons left">person_add</i>Add Collaborator</a></li>
            <li><a class="modal-trigger" href="#removeClientModal"><i class="material-icons left">person_remove</i>Remove Client</a></li>
            <li><a class="modal-trigger" href="#addWorkerModal"><i class="material-icons left">group_add</i>Add Worker</a></li>
            <li><a class="modal-trigger" href="#removeWorkerModal"><i class="material-icons left">group_remove</i>Remove Worker</a></li>
            {{!-- <li><a class="modal-trigger" href="#messageBoardModal"><i class="material-icons left">message</i> Message Board</a></li> --}}
        </ul>
        
    </div>
</nav>
{{!-- SIDE BAR MENU FOR SMALL DISPLAYS --}}
<ul class="sidenav" id="my-board-nav">
    <li><a class="modal-trigger" href="#addClientModal"><i class="material-icons left">person_add</i>Add Client</a></li>
    <li><a class="modal-trigger" href="#removeClientModal"><i class="material-icons left">person_remove</i>Remove Client</a></li>
    <li><a class="modal-trigger" href="#addWorkerModal"><i class="material-icons left">group_add</i>Add Worker</a></li>
    <li><a class="modal-trigger" href="#removeWorkerModal"><i class="material-icons left">group_remove</i>Remove Worker</a></li>
    {{!-- <li><a class="modal-trigger" href="#messageBoardModal"><i class="material-icons left">message</i> Message Board</a></li> --}}
</ul>


{{!-- MODALS! --}}

{{!-- ADD COLLABORATOR MODAL --}}
<div id="addCollaboratorModal" class="modal">
    <div class="modal-content">
        <h4>Add A Collaborator</h4>
        {{#each projects as |project|}}
            <form id="addCForm" action="/api/projects/{{project.id}}/addCollaborator" method="POST">
        {{/each}}
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="robin@teentitans.go" id="email" name="email" type="email" class="validate" required>
                        <label for="email">Collaborator's Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select name="access_level" id="access_level" required>
                            <option value="client">Client</option>
                            <option value="worker">Worker</option>
                            <option value="admin">Admin</option>
                        </select>
                        <label for="access_level">Access Level</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center-align">
                        <button type="submit" class="waves-effect waves-light btn-large deep-purple">Add Collaborator</button>
                    </div>
                </div>
            </form>
    </div>
    <div class="modal-footer">                                             
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

{{!-- REMOVE COLLABORATOR MODAL --}}

<div id="removeClientModal" class="modal">
    <div class="modal-content">
    <h4>Remove A Collaborator</h4>
        {{#each projects as |project|}}
            <form id="removeCollaboratorForm_{{project.id}}" action="/api/projects/{{project.id}}/removeCollaborator" method="POST">
        {{/each}}
            <div class="row">
                <div class="input-field col s12">
                    <select name="collaborator" id="collaboratorId">
                        {{#each collaborators as |collaborator|}}
                            <option value={{collaborator.user_id}}>
                            {{collaborator.user.first_name}} {{collaborator.user.last_name}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <label for="collaborator_id">Collaborator</label>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large deep-purple">Remove Collaborator</button>
                </div>
            </div>
        </form>
    </div>
</div>


{{!-- ADD WORKER MODAL --}}
<div id="addWorkerModal" class="modal">
    <div class="modal-content">
        <h4>Add Worker</h4>
        <form id="addWorkerForm" action="/api/add-worker" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Dick" id="first_name" name="first_name" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Grayson" id="last_name" name="last_name" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="robin@teentitans.go" id="email" name="email" type="email" class="validate" required>
                    <label for="email">Worker Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="type" id="type" required>
                    <label for="type">Project</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large deep-purple">Add Worker</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

{{!-- PROJECT SELECT MODAL --}}
<div id="selectProjectModal" class="modal">
    <div class="modal-content">
        <form id="selectProjectForm" action="/api/select-projects" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <select name="selectedProject" id="selectedProject" required>
                    {{#each projects as |project|}}
                        <option value="{{project.id}}">{{project.name}}</option>
                    {{/each}}
                    </select>
                    <label for="selectedProject">Select a Project</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large deep-purple">View Project</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

{{!-- NEW PROJECT MODAL --}}
<div id="newProjectModal" class="modal">
    <div class="modal-content">
        <h4>New Project</h4>
        <form id="newProjectForm" action="/api/projects" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="name" id="name" required>
                    <label for="name">Project Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="type" id="type" required>
                    <label for="type">Project Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input class="datepicker" type="text" name="date_started" id="date_started" required>
                    <label for="date_started">Date Started</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large deep-purple">Create Project</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

{{!-- DELETE PROJECT MODAL --}}
<div id="deleteProjectModal" class="modal">
    <div class="modal-content">
        <form id="selectProjectForm" action="/api/projects" method="DELETE">
            <div class="row">
                <div class="input-field col s12">
                    <select name="selectedProject" id="selectedProject" required>
                    {{#each projects as |project|}}
                        <option value="{{project.id}}">{{project.name}}</option>
                    {{/each}}
                    </select>
                    <label for="selectedProject">Select a Project</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large deep-purple">Delete Project</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

{{!-- MESSAGE BOARD  --}}
<div id="messageBoardModal" class="modal">
    <div class="modal-content">
        <h3 class="center-align">Message Board</h3>
        
        {{!-- MESSAGES GO HERE SOMEHOW --}}

        <form id="messageBoardForm" action="/api/projects" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea"></textarea>
                    <label for="message">Your Message</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="waves-effect waves-light btn-large deep-purple">Add Message</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>