{{!-- INDIVIDUAL TICKETS --}}

{{!-- 
TODO: Needs to be able to be commented on
!BUG: DISPLAY GETS MESSED UP WHEN IN EDITING STATE
!BUG: TICKETS CAN'T DRAGGED INTO AN EMPTY COLUMN
 --}}

<ul class="collapsible ticket dragthing" data-id="{{id}}">
    <li>
        {{#unless is_editing}}
        {{!-- TICKET HEADER --}}
        <div class="collapsible-header">
            {{#if new_item}}
                <i class="material-icons">new_releases</i>
            {{else}}
                <i class="material-icons">subject</i>
            {{/if}}

            {{title}}
        </div>
        {{!-- TICKET CONTENT --}}
        <div class="collapsible-body">
            <p>Posted by {{user.first_name}} on {{format_date createdAt}}</p>
            <p>Task Notes:</p>
            <p>{{ text }}</p>
        {{else}}
            {{!-- EDIT TICKET --}}
            <div class="row">
                <div class="input-field col s12">
                    <input id="new_ticket_title" type="text" class="validate" value="{{title}}">
                    <label for="new_ticket_title">Ticket Title</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="new_ticket_content" class="materialize-textarea">{{ text }}</textarea>
                    <label for="textarea1">Ticket Content</label>
                </div>
            </div>
        {{/unless}}
        {{#if isOwner}}
            {{!-- BUTTONS SECTION --}}
            {{#unless is_editing}}
            <div class="row">
                <div class="col s6">
                    <a class="waves-effect btn-small-flat blue-text edit_button" data-action="edit" data-id="{{id}}">
                        <i class="material-icons left">edit</i>
                        Edit
                    </a>
                </div>
                <div class="col s6">
                    <a class="waves-effect btn-small-flat blue-text delete_button" data-action="delete" data-id="{{id}}">
                        <i class="material-icons left">delete</i>
                        Delete
                    </a>
                </div>
            </div>
            {{else}}
            <div class="row">
                 <div class="col s6">
                    <a class="waves-effect btn-small-flat blue-text save_button" data-action="save" data-id="{{id}}">
                        <i class="material-icons left">save</i>
                        Save
                    </a>
                 </div>
                <div class="col s6">
                    <a class="waves-effect btn-small-flat blue-text cancel_button" data-action="cancel" data-id="{{id}}">
                        <i class="material-icons left">cancel</i>
                        Cancel
                    </a>
                </div>
            </div>
            {{/unless}}
        {{/if}}
        </div>
    </li>
</ul>


{{!-- OLD CODE --}}

{{!-- <div class="row ticket dragthing" data-id="{{id}}">
    <div class="col s12 m12 l12">
        <div class="card grey lighten-4 hoverable">
            <div style="position:absolute; top: 2px; right: 8px;"></div>
            {{#unless is_editing}}
            <div class="card-content">
                <div class="row">
                    {{#if new_item}}
                    <span class="notification col">🦹🏻‍♂️</span>
                    {{/if}}
                    <h2 style="font-weight: bold;" class="card-title col">{{title}}</h2>
                </div>
                <div class="hide_all_contents" style="display:none;"> <!-- hiding all content for simple viewing-->
                    <p>Posted by {{user.first_name}} on {{format_date createdAt}}</p>
                    <p style="font-weight: bold;" >Task Notes:</p>
                    <p>{{ text }}</p>
                    {{else}}
                        <input type="text" size="100%" id="new_ticket_title" value={{title}} />
                        <textarea style="height:200px; width: 100%" rows="10" cols="10" type="textarea" id="new_ticket_content">{{ text }}</textarea>
                    {{/unless}}
                    {{#if isOwner}}
                        <div class="card-action center-align">
                            {{#unless is_editing}}
                            <a class="waves-effect btn-small-flat blue-text edit_button" data-action="edit" data-id="{{id}}"><i class="material-icons left">edit</i>Edit</a>
                            <a class="waves-effect btn-small-flat blue-text delete_button" data-id="{{id}}"><i class="material-icons left">delete</i>Delete</a>
                            <a class="waves-effect btn-small-flat blue-text"><i class="material-icons left">reorder</i>Move</a>
                            {{else}}
                            <a class="waves-effect btn-small-flat blue-text save_button" data-action="save" data-id="{{id}}"><i class="material-icons left">save</i>Save</a>
                            <a class="waves-effect btn-small-flat blue-text cancel_button" data-action="cancel" data-id="{{id}}"><i class="material-icons left">cancel</i>Cancel</a>
                            {{/unless}}
                        </div>
                    {{/if}}
                    <div class="center-align"><button class="comment-button btn-small  " data-action="comments" data-id="{{id}}" data-state="closed">Comments</button></div>
                    <div id="comments_section" style="display: none; flex-direction: column">
                        <ul id="comment_list" style="list-style-type: none;"></ul>
                        <div class="center-align"><button class="btn-small" id="add_comment">Add Comment +</button></div>
                        <div id="add_comment_display" style="display: none; flex-direction: column; align-items:center; ">
                        <textarea style="width:95%; height:50px; resize:none;" rows="20" type="textarea" id="new_comment"></textarea>
                         <div class="center-align"><button class="btn-small" id="submit_new_comment" >Submit</button></div>  
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}