<section class="ticket" style="background-color: rgb(66, 153, 153); box-shadow: 5px 5px rgb(31, 31, 31); padding: 10px;" data-id="{{id}}">
    <button style="color:black; position:absolute; display:block; float:right;" class="delete_button" data-action="delete" data-id="{{id}}">X</button>
    {{#unless is_editing}}
        <div class="card_header">
            <h4>{{title}}</h4>
            <h6>posted by {{user.first_name}} on {{format_date createdAt}}</h6>
        </div>
        <div class="card_body">
            {{ text }}
    {{else}}
        <div class="card_header" style="width:100%;">
            <input type="text" size="100" id="new_ticket_title" value={{title}} />
        </div>
        <div>
            <textarea style="height:auto;" rows="10" type="textarea" id="new_ticket_content">{{ text }}</textarea>
        </div>
    {{/unless}}
    <div style="display: flex; justify-content: space-between;">
        <div>
            <button style="color:black;" class="comment-button" data-action="comments" data-id="{{id}}" data-state="closed">Comments</button>
        </div>

        {{#if isOwner}}
        <div style="display: flex; gap:5px;">
            {{#unless is_editing}}
                <button style="color:black;" class="edit_button" data-action="edit" data-id="{{id}}">Edit</button>
            {{else}}
                <button style="color:black;" class="save_button" data-action="save" data-id="{{id}}">Save</button>
                <button style="color:black;" class="cancel_button"data-action="cancel" data-id="{{id}}">Cancel</button>
            {{/unless}}
        </div>
        {{/if}}
    </div>
    <div id="comments_section" style="display: none; flex-direction: column">
        <ul id="comment_list" style="list-style-type: none;">
        </ul>
        <div>
            <button style="color:black;" id="add_comment">Add Comment +</button>
        </div>
        <div id="add_comment_display" style="display: none; flex-direction: column; align-items:center; ">
            <textarea style="width:80%; color:black;" rows="10" type="textarea" id="new_comment"></textarea>
            <button style="color:black;" id="submit_new_comment" >Submit</button>
        </div>
    </div>
</section>