
{{!-- TICKETS! --}}


<div class="row ticket dragthing" data-id="{{id}}">
    <div class="col s12 m12 l12">
        <div class="card grey lighten-4 hoverable">
            <div style="position:absolute; top: 2px; right: 8px;">
                
            </div>
            {{#unless is_editing}}
            <div class="card-content">
                <div>
                    <span class="card-title">{{title}}</span>
                    {{#if new_item}}
                    <span class="notification">  </span>
                    {{/if}}
                </div>
                

                        <p>Posted by {{user.first_name}} on {{format_date createdAt}}</p>
                        <p>{{ text }}</p>
                    
                    {{else}}
                    <input type="text" size="100" id="new_ticket_title" value={{title}} />
                    <textarea style="height:auto;" rows="10" type="textarea" id="new_ticket_content">{{ text }}</textarea>
                    {{/unless}}
                     <div>
                        <button class="comment-button" data-action="comments" data-id="{{id}}" data-state="closed">Comments</button>
                    </div>
                    {{#if isOwner}}
                    <div class="card-action center-align">
                        {{#unless is_editing}}
                        <a class="waves-effect btn-small-flat blue-text edit_button" data-action="edit" data-id="{{id}}">
                            <i class="material-icons left">edit</i>
                            Edit
                        </a>
                        <a class="waves-effect btn-small-flat blue-text delete_button" data-id="{{id}}">
                            <i class="material-icons left">delete</i>
                            Delete
                        </a>
                        <a class="waves-effect btn-small-flat blue-text">
                            <i class="material-icons left">reorder</i>
                            Move
                        </a>
                        {{else}}
                        <a class="waves-effect btn-small-flat blue-text save_button" data-action="save" data-id="{{id}}">
                            <i class="material-icons left">save</i
                            >save
                        </a>
                        <a class="waves-effect btn-small-flat blue-text cancel_button" data-action="cancel" data-id="{{id}}">
                            <i class="material-icons left">cancel</i>
                            cancel
                        </a>
                        {{/unless}}
                    </div>
                    {{/if}}
                    <div id="comments_section" style="display: none; flex-direction: column">
                        <ul id="comment_list" style="list-style-type: none;">
                        </ul>
                        <div>
                            <button style="color:black;" id="add_comment">Add Comment +</button>
                        </div>
                        <div id="add_comment_display" style="display: none; flex-direction: column; align-items:center; ">
                            <textarea style="width:80%; color:black;" rows="10" type="textarea" id="new_comment"></textarea>
                            <button style="color:black;" id="submit_new_comment" >Submit</button>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

